{% extends "basic.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<ul class="flashes">
			{% for category, message in messages %}
				<li class="{{ category }}">{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
<h2>Login</h2>
<div class="center">
	<div class="box">
		<form method="post">
			<dl>
				{{ render_field(form.email) }}
				{{ render_field(form.password) }}
				{{ form.csrf_token }}
				<dd class="submit"><input type="submit"></dd>
			</dl>	
		</form>
	</div>
</div>


{% endblock %}