{% extends "basic.html" %}

{% block body %}
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class="flashes">
				{% for category, message in messages %}
					<li class="{{ category }}">{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
    <h3 class="section">Search Results for {{ query }}</h3>
	{% if not results %}
		<p class="info">There are no exact matches.</p>	
	{% else %}
		<table class="results">
			<tr><th>Name</th><th>Title</th><th>No. Vertices</th><th>Degree Sequence</th></tr>
			{% for result in results %}
				<tr><td><a href="{{ url_for('get_graph', gid=result.name, ref=request.url.split('/')[-1]) }}">{{ result.name }}</a></td><td>{{ result.title }}</td><td>{{ result.vertices[-1] }}</td><td>{{ result.degrees }}</td></tr>
			{% endfor %}
		</table>
	{% endif %}
	{% if close_results %}
		<h3 class="section">Close Results for {{ query }}</h3>
		<table class="results">
			<tr><th>Name</th><th>Title</th><th>No. Vertices</th><th>Degree Sequence</th></tr>
			{% for result in close_results %}
				<tr><td><a href="{{ url_for('get_graph', gid=result.name, ref=request.url.split('/')[-1]) }}">{{ result.name }}</a></td><td>{{ result.title }}</td><td>{{ result.vertices[-1] }}</td><td>{{ result.degrees }}</td></tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}