<!doctype html>
<head>
	<title>Graphlopedia</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
	{% block scripts %}{% endblock %}
</head>

<body>
	<div class="page">
		<h1 class="home"><a href="{{ url_for('index') }}">Graphlopedia!</a></h1>
		<div class="nav">{% block nav %}{% endblock %}<a href="{{ url_for('admin_page') }}">Admin</a> | {% if current_user.is_authenticated %}<a href="{{ url_for('logout') }}" class="log">Logout</a>{% else %}<a href="{{ url_for('login', next=request.path) }}" class="log">Login</a>{% endif %}</div>
		{% block body %}{% endblock %}
		<div id="footer">
			Contact us: <a href="mailto:graphletes@googlegroups.com?subject=Graphlopedia!">graphletes&#64;googlegroups&#46;com</a> | &copy; 2016 Sara Billey
		</div>
	</div>
</body>
